<section class="row" data-ng-controller="AuthenticationController">
    <link rel="import" href="modules/users/views/login-screen.html" />
    <login-screen angupoly="{username:'credentials.username',password:'credentials.password',submitted:'submitted'}">
        <br/>
        <h3 class="col-md-12 text-center">Or</h3>
        <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
        <div class="col-md-12 text-center">
            <a href="/auth/facebook" class="undecorated-link">
                <img src="/modules/users/img/buttons/facebook.png">
            </a>
            <a href="/auth/twitter" class="undecorated-link">
                <img src="/modules/users/img/buttons/twitter.png">
            </a>
            <a href="/auth/google" class="undecorated-link">
                <img src="/modules/users/img/buttons/google.png">
            </a>
            <a href="/auth/linkedin" class="undecorated-link">
                <img src="/modules/users/img/buttons/linkedin.png">
            </a>
        </div>
    </login-screen>
</section>